Thumbs.db
DannysList/DannysList/src/wtf/dannyslist/FinalStaticLoginInfo.java
DannysList/.classpath
DannysList/target/*
DannysList/DannysList/bin/*
DannysList/WebContent/johnny@dannyslist.wtf
DannysList/src/wtf/dannyslist/FinalStaticLoginInfo.java
DannysList/src/wtf/dannyslist/FinalStaticLoginInfo.java
